@font-face {
    font-family: 'Arial-MT';
    src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}
  
body {
    background-color: bisque;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}

.container {
    padding: 0 15%;
    width: 70%;
    
    display: flex;
    flex-direction: column;
}

.separator {
    height: 0.05em;
    background-color: rgb(185, 195, 204);
}

.details{
    cursor: pointer;
    position: relative;
}

.summary{
    display: flex;
    justify-content: space-between;
    transition: transform .5s;
}

.openicon{
    width: 2.5em;
    height: 2.5em;  
    background: url("../assets/plusicon.svg") no-repeat 50% 50% / 1em 1em; 
    transition: transform .5s;
    opacity: 0;   
}

.container:hover > .details > .summary > .openicon {
    opacity: 1;
}

.details:hover > .summary > .openicon{
    transform: rotateZ(45deg);
    transition: transform .5s;
}

.img-item{    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: .5em;
    z-index: 2;
}

img{
    width: 0%;
    height: 0%;
    max-width: 50%;
    transition: width .5s;
}

.details:hover > .img-item > img{
    height: 100%;
    width: 50%;
    transition: width .5s;        
}

/*checkbox*/
input[type=checkbox] {
    position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

input[type=checkbox]:checked ~ .img-item > img{
    height: 100%;
    width: 100%;
    transition: width .5s;
}

input[type=checkbox]:checked ~ .summary{
    color: red;
    font-weight: 700;
}

input[type=checkbox]:checked ~ .summary > .openicon{
    transform: rotateZ(45deg);
    transition: transform .5s;
}